<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>결제 확인 페이지</title>
    </head>
    <script>
        function pay(name,price){
            console.log(name);
            console.log(price);
            /*
            const req = new Array();
            for(i=0;i<rows.size; i++)
            {
                console.log(rows.name[i]);
                console.log(rows.price[i]);

                req[i] = {
                    name : rows.name[i],
                    price : rows.price[i],
                } 
            }

            fetch("/cook", {
                method:"POST",
                headers : {
                    "Content-Type" : "application/json",
                },
                body: JSON.stringify(req),
            })*/
            
            


        }
    </script>
    <body>
        <div>
            고르신 내역
        </div>
        <div>
            <%
                var i = 0;
                var count = 0;
                var amount = rows.name.length;
                console.log(rows.name.length+" asdfasdfsd");
                const req = new Array();
                for(i;i<rows.name.length; i++)
                {
                    var data=new Object();
                    var name = rows.name[i];
                    var price =rows.price[i];
                    
                    data.name = name;
                    data.price = price;

                    req.push(data);

                    count += parseInt(price);
                    
            %>
                    <p id = "name"><%= name %></p>
                    <p id = "price"><%= price %></p>
                <%}%>
                <p id="amount">고른 메뉴 개수 : <%= amount %></p>
                <p>총 결제 금액 : <%= count %></p>%>
                <button onclick = "pay('<%= rows.name %>','<%= rows.price%>')">결제</button>
        </div>
        
    </body>
</html>