<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>주문 내역 페이지</title>
    </head>
    <script>
        if('<%=rows%>'==="error"){
            alert('주문이 없습니다');
            history.back();
        }
        
        function complete(seq){
            var num = seq;
            console.log(num);
            document.getElementById(num).innerText="조리완료";
        }
        function deleteMenu(seq){
            console.log(seq);

            fetch('/complete?seq='+seq, {
                method: 'GET',
            })
            .then((res)=>res.json())
            .then((res)=>{
                if(res.success){
                    alert(seq+"번 음식 나왔습니다");
                    location.href='/cook';
                } else {
                    alert(res.msg);
                }
            })
        }
    </script>
    <body>
        <h3>주문 들어온 내역</h3>
        <table>
            <tbody>
                <%
                    var row1 = rows[0];    
                   
                    var i = row1[0].orderNum;
                    var minus = i;
                    console.log("i="+i);
                    var len = i+rows.length;
                    console.log(len);
                    for(i;i<len;i++)
                    {
                        var row = rows[i-minus];
                        for(var j=0; j<row.length; j++){
                            var data = row[j];
                %>
                <tr>
                    <td><%= data.menu %></td>
                    <td><%= data.orderNum %></td>
                    <td><button onclick="complete('<%= data.seq %>')" id="<%= data.seq %>">조리 중</button></td><!--수정 예정-->
                </tr>
                
        
                        <%}%>
                        <button onclick="deleteMenu('<%= i %>')"><%= i %> 번 조리완료</button>
                    <%}%>
            </tbody>
            
        </table>
        
    </body>
</html>